.slider {
    max-width: 600px;
    position: relative;
    margin: 100px auto 0;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(95, 0, 142);
    font-weight: bold;
    font-size: 32px;
    transition: 0.6s ease;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: -54px;
}

.next {
    right: -54px;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(94, 0, 132, 0.323);
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6 ease;
}

.active, .dot:hover {
    background-color: #717171;
}